body {
  background: #121212;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

h2 {
  font-size: 35px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  transition: 300ms ease-in;
}

a:hover {
  text-decoration: underline;
  color: #c79800;
}

.container {
  max-width: 700px;
  margin: auto;
  overflow: hidden;
}

.container-center {
  max-width: 700px;
  margin: auto;
  overflow: hidden;
  text-align: center;
}

.content-container {
  text-align: center;
  margin: auto;
  overflow: hidden;
  border-radius: 20px;
  margin: 1rem;
  padding: 1.5rem 5rem;
}

.icon {
  display: inline-block;
  text-align: center;
}

.icon i {
  padding: 1rem;
  border: #fff 5px solid;
  border-radius: 50%;
}

.icon i:hover {
  border: gold 5px solid;
}

.icon:not(:last-child) {
  padding-right: 1rem;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.one-content .content-container {
  display: grid;
  grid-template-columns: 1fr;
  background: url("https://images.unsplash.com/photo-1557683311-eac922347aa1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1915&q=80") no-repeat center center/cover;
}

.two-content {
  display: grid;
  grid-template-columns: 1fr;
}

.two-content .content-container {
  background: url("https://images.unsplash.com/photo-1557682250-33bd709cbe85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1915&q=80") no-repeat center center/cover;
  justify-content: center;
  align-items: center;
}

.two-content .item-right .content-container {
  background: url("https://images.unsplash.com/photo-1557682224-5b8590cd9ec5?ixlib=rb-1.2.1&auto=format&fit=crop&w=1915&q=80") no-repeat center center/cover;
}

.two-content img {
  height: 40%;
  width: 40%;
  padding-top: 1rem;
}

.text-center {
  text-align: center;
}

#main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#main-nav ul {
  display: inherit;
}

#main-nav li:not(:last-child) {
  padding-right: 1rem;
}

.two-content-even {
  display: grid;
  grid-template-columns: 1fr;
}

.two-content-even img {
  height: 100%;
  width: 100%;
}

.two-content-even .item-left .content-container {
  background: #eeaeca;
  background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
}

.two-content-even .item-right .content-container {
  background: #22c1c3;
  background: linear-gradient(0deg, #22c1c3 0%, #fdbb2d 100%);
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  line-height: 1;
}

#header h1 {
  font-size: 72px;
}

#header p {
  font-size: 28px;
}

.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.main-footer ul {
  display: inherit;
}

.main-footer ul li:not(:last-child) {
  padding-right: 1rem;
}

@media (min-width: 769px) {
  .one-content .content-container {
    grid-template-columns: 1fr;
  }
  .two-content {
    grid-template-columns: 1fr 2fr;
  }
  .two-content-even {
    grid-template-columns: 1fr 1fr;
  }
}
/*# sourceMappingURL=style.css.map */